.main-container{
    background-image: url(steakBackground.jpg);
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: 100%;
}

body{
    margin: 0;
}

.header-div{
    height: 30%;
    background-color: rgba(0, 0, 0, 0.9)
}

.header{   
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 1%;
    font-size: 4rem;
}

.header2{   
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 1%;
    font-family: 'Courier New', Courier, monospace;
    /* margin-top: 5%; */
}

.navbar{
    list-style: none;
    color: white;
    display: flex;

    font-size: 3rem;
    
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    gap: 1%;
    
    align-items: end;
}

a{
    color: white;
    text-decoration: none;
}

a:active{
    text-decoration:underline;
}

.main-box{
    width: 50%;
    height: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.dp-image{
    z-index: 1;
    position: relative;
    border-radius: 50%;
    margin-top: 5%;
    height: 70%;
    width: auto;
}

.footer{
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    margin-top: 1%;
}

.outer2-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.outer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.inner-box{
    background-color: rgba(0, 0, 0, 0.7);
    width: 330px;
    height: 300px;
}

.row-2{
    margin-bottom: 10px;
}

.inner-box:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
